.container{
    display: flex;
}

@media screen and (max-width: 900px) {
     .container{
        flex-direction:column;
        align-items:center;
    }
  }
.sidebar{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    border-right: 2px solid grey;
}

@media screen and (max-width: 900px) {
    .sidebar{
        width:100%;
   }
 }

.heading{
    font-weight: bold;
    margin-bottom: 20px;
} 

.description{
    width: 100%;
    padding: 25px;
    padding-bottom: 15px;
    padding-top: 0;
    text-align: justify;
}

.marketData{

     align-self: start;
     padding: 25px;
     padding-top: 10px;
     width: 100%;

}


@media screen and (max-width: 900px) {
    .marketData{
        display: flex;
        justify-content: space-around;
   }
 }

 @media screen and (max-width: 600px) {
    .marketData{
        flex-direction: column;
        align-items: center;
    }
 }

 @media screen and (max-width: 0px) {
    .marketData{
        align-items: start;
   }
 }