.container1{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    padding: 40px;
}

@media screen and (max-width: 900px) {
    .container{
       width: 100%;
       margin-top: 0;
       padding: 20px;
       padding-top: 0;
   }
 }